<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snk.property.mapper.ProCarportRentOrderMapper">

    <resultMap type="ProCarportRentOrder" id="ProCarportRentOrderResult">
        <result property="id"    column="id"    />
        <result property="carportRentInfoId"    column="carport_rent_info_id"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="createTime"    column="create_time"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectProCarportRentOrderVo">
        select id, carport_rent_info_id, total_price, create_time, state from pro_carport_rent_order
    </sql>

    <select id="selectProCarportRentOrderList" parameterType="ProCarportRentOrder" resultMap="ProCarportRentOrderResult">
        <include refid="selectProCarportRentOrderVo"/>
        <where>
            <if test="carportRentInfoId != null "> and carport_rent_info_id = #{carportRentInfoId}</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>

    <select id="selectProCarportRentOrderById" parameterType="Long" resultMap="ProCarportRentOrderResult">
        <include refid="selectProCarportRentOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertProCarportRentOrder" parameterType="ProCarportRentOrder" useGeneratedKeys="true" keyProperty="id">
        insert into pro_carport_rent_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carportRentInfoId != null">carport_rent_info_id,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carportRentInfoId != null">#{carportRentInfoId},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

    <update id="updateProCarportRentOrder" parameterType="ProCarportRentOrder">
        update pro_carport_rent_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="carportRentInfoId != null">carport_rent_info_id = #{carportRentInfoId},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProCarportRentOrderById" parameterType="Long">
        delete from pro_carport_rent_order where id = #{id}
    </delete>

    <delete id="deleteProCarportRentOrderByIds" parameterType="String">
        delete from pro_carport_rent_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>