<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改车辆进出详情')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-carInOutInfo-edit" th:object="${proCarInOutInfo}">
        <input name="id" th:field="*{id}" type="hidden">
        <h4 class="h4 form-header">车辆信息</h4>
        <div class="form-group">
            <div class="text-center">
                <p class="user-info-head">
                    <img class="img-thumbnail img-lg" th:src="(*{intoCarImage} == '') ? @{/img/car.jpeg} : @{*{intoCarImage}}">
                </p>
                <p class="col-sm-4  ">车辆进库时的照片:</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车牌号：</label>
            <div class="col-sm-8">
                <input name="carNum" th:field="*{carNum}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">进入时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="intoTime" th:value="${#dates.format(proCarInOutInfo.intoTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" readonly="readonly">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车辆属性：</label>
            <div class="col-sm-8">
                <select name="carAttributeId" class="form-control m-b" readonly="readonly">
                    <option th:each="attribute : ${attributeList}" th:text="${attribute.title}" th:value="${attribute.id}" th:field="*{carAttributeId}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">进入时的设备：</label>
            <div class="col-sm-8">
                <select name="intoDeviceId" class="form-control m-b" readonly="readonly" >
                    <option th:each="device : ${deviceList}" th:text="${device.name}" th:value="${device.id}" th:field="*{intoDeviceId}"></option>
                </select>
            </div>
        </div>
        <h4 class="h4 form-header">操作设备</h4>
        <div class="form-group">
            <label class="col-sm-3 control-label">设备名称：</label>
            <div class="col-sm-8">
                <select name="outDeviceId" class="form-control m-b">
                    <option th:each="device : ${deviceList}" th:text="${device.name}" th:value="${device.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车辆出库时的照片：</label>
            <div class="col-sm-8">
                <input type="hidden" name="intoCarImage">
                <div class="file-loading">
                    <input class="form-control file-upload" id="intoCarImage" name="file" type="file">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "property/carInOutInfo";
    $("#form-carInOutInfo-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/manualOutbound", $('#form-carInOutInfo-edit').serialize());
        }
    }

    $(".file-upload").fileinput({
        uploadUrl: '/common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })

    $("input[name='intoTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='outTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>