<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增车辆入库')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-carIntoTreasury-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">房屋：</label>
            <div class="col-sm-8">
                <input onclick="selectAddressTree()" id="treeName" type="text" placeholder="请选择归属地址" class="form-control" required>
                <input name="houseAddressId" id="treeId" type="hidden" />
                <input name="houseId" id="houseId" type="hidden">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车牌号：</label>
            <div class="col-sm-8">
                <input name="carNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车辆属性：</label>
            <div class="col-sm-8">
                <select name="carAttributeId" class="form-control m-b">
                    <option  th:each="carAttribute:${carAttributeList}" th:value="${carAttribute.id}" th:text="${carAttribute.title}" >所有</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">车辆照片：</label>
            <div class="col-sm-8">
                <input type="hidden" name="image">
                <div class="file-loading">
                    <input class="form-control file-upload" id="image" name="file" type="file">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "property/carIntoTreasury"
    $("#form-carIntoTreasury-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-carIntoTreasury-add').serialize());
        }
    }

    $(".file-upload").fileinput({
        uploadUrl: '/common/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })

    /*房屋管理-新增-选择地址树*/
    function selectAddressTree() {
        var treeId = $("#treeId").val();
        var addressId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = ctx + "property/houseaddress/selectHouseaddressTree/" + addressId;
        var options = {
            title: '选择地址',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowRoot(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
        console.log(treeId)
        var  id=$('input[name="houseAddressId"]').val()
        getHouseId(id);

    }

    //得到房屋id
    function getHouseId(id){
        var url=ctx+"property/house/conditionsTheQuery"
        var data={
            houseAddressId:id
        }
        $.post(url,data,function (ret) {
            if (ret.length != 0){
                console.log(ret.id)
                var houseId=ret.id
                var houseAddressId=ret.houseAddressId
                $("#houseId").val(houseId)
                $("#treeId").val(houseAddressId)
                $("#treeName").val(ret.houseAddressName)
            }else {
                alert("该房屋不存在或则其他问题请联系管理员。")
            }
        })
    }
</script>
</body>
</html>